{% include 'error_form_alert.html' with form=add_worker_form %}
<form class="form" method="post" action="{% url 'new_worker' %}">
	{% csrf_token %}
	{% load widget_tweaks %}
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.name %}
	</div> 
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.description %}
	</div>
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.path %}
	</div> 		 	
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.run_command %}
	</div>
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.command_type %}
	</div> 		 		
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.input_params %}
	</div>
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.priority %}
	</div>	
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.char_set %}
	</div>
	<div class="form-group mx-2 my-2">
	  {% render_field add_worker_form.str_error_type %}
	</div>
	<button type="submit" class="btn btn-success mx-2 my-2">	
		<span>Create</span>
	</button>
</form>