{% extends "general.html" %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block body %}
<div class="table-responsive">
	<table class="table">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">worker.name</th>
	      <th scope="col">worker.run_command</th>
	      <th scope="col">worker.input_params</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for worker in workers_list %}
	    <tr>
	      <th scope="row">{{ worker.id  }}</th>
	      <td>{{ worker.name }}</td>
	      <td>{{ worker.run_command }}</td>
	      <td>{{ worker.input_params }}</td>
	      <td> 
	      	<a type="button" class="btn btn-danger" href="{% url 'worker_visibility' worker.id   %}">
	      		<i class="material-icons">visibility_off</i>
	      	</a>
		    <a type="button" class="btn btn-info" data-toggle="modal" data-target="#{{ worker.name }}">
		      	<i class="material-icons">share</i>
		    </a>
		    <a type="button" class="btn btn-info" href="{% url 'worker_status_page' worker.id %}">
		      	<i class="material-icons">info_outline</i>
		    </a>			     
    	    {% include "modal.html" with modal_id=worker.name modal_title="Share Worker" modal_form="worker/share_worker_to_user_form.html" %} 
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
{% endblock %}