{% extends "general.html" %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Worker Status Page</h1>

  <p class="lead">
    A status page.
  </p>
  <hr class="my-4">

  <p class="lead">
  	<i class="material-icons">work</i>
    {{ worker.name }}
  </p>

  <p class="lead">
  	<i class="material-icons">touch_app</i>
    {{ worker.run_command }}
  </p>

  <p class="lead">
  	<i class="material-icons">settings_input_component</i>
    {{ worker.input_params }}
  </p>

   <p class="lead">
   	<i class="material-icons">speaker_notes</i>
    {{ worker.status }}
  </p>

  <p class="lead">
  	<i class="material-icons">description</i>
    {{ worker.description }}
  </p>
  


 <div id="accordion">
   <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Data History
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">data.data</th>
            <th scope="col">data.created_at</th>
          </tr>
        </thead>
        <tbody>
          {% for data in worker_data_history %}
          <tr>
            <th scope="row">{{ data.id  }}</th>
            <td>{{ data.data }}</td>
            <td>{{ data.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      </div>
    </div>
  </div>
 </div> 
 <!-- </div> -->

  <div id="accordion">
   <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="true" aria-controls="collapseOne">
          Worker Logs
        </button>
      </h5>
    </div>

    <div id="collapseLogs" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">worker_logs.data</th>
            <th scope="col">worker_logs.created_at</th>
          </tr>
        </thead>
        <tbody>
          {% for data in worker_logs %}
          <tr>
            <th scope="row">{{ data.id  }}</th>
            <td>{{ data.data }}</td>
            <td>{{ data.created_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
      </div>
    </div>
  </div>
 </div> 
 </div>
{% endblock %}