{% extends "general.html" %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Project Status Page</h1>

  <p class="lead">
    A status page.
  </p>
  <hr class="my-4">

  <p class="lead">
  	<i class="material-icons">work</i>
    {{ project.name }}
  </p>

  <p class="lead">
  	<i class="material-icons">description</i>
    {{ project.description }}
  </p>

  {% for worker in  project.worker.all %}
  <p class="lead">
  	<i class="material-icons">touch_app</i>
    {{ worker.name }}; {{ worker.run_command }}; {{ worker.input_params }}; {{worker.status}}
	<a type="button" class="btn btn-info" href="{% url 'worker_status_page' worker.id %}">
	   	<i class="material-icons">info_outline</i>
	</a>    
  </p>
  {% endfor %}

 </div>

{% endblock %}